.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #0f172a;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.links a:hover {
  color: #38bdf8;
}